:root{
  --orange: #FC7A1E;
  --light: #F2F4F3;
  --red: #AE0E0F;
  --dark_red: #510000; 
  --dark_red2: #200d0d; 
  --dark: #0F0E0E;
  --dark_blue: #001A23;
  --light_orange: #FACFAD; /*Prueba*/
  --linen: #FFF4E9; /*Prueba*/
  --light_pink: #FCEADE; /*Puede ser para dar contraste*/
  --border_radius: 5px; 
}
footer{
  display: flex;
  /* font-weight: bold; */
  justify-content: space-between;
  font-size: var(--normal);
  background-color: #111111;
  padding: var(--space);
  color: var(--white-color);
}
.option a{
  text-decoration: none;
  padding: 15px;
  /* font-style: italic; */
  color:white;
  
}
.option a:hover{
  cursor: pointer;
  color: rgb(5, 172, 41);
}
  
    
@media (max-width:768px) {
    footer{
      display: none;
    }
  }