/* UTILITIES */
:root{
    --orange: #FC7A1E;
    --light: #F2F4F3;
    --red: #AE0E0F;
    --dark_red: #510000; 
    --dark_red2: #200d0d; 
    --dark: #0F0E0E;
    --dark_blue: #001A23;
    --light_orange: #FACFAD; /*Prueba*/
    --linen: #FFF4E9; /*Prueba*/
    --light_pink: #FCEADE; /*Puede ser para dar contraste*/
    --border_radius: 5px; 
}
.colContainer{
    display: flex;
    margin: 50px;
    /* margin: 90px; */
    /* flex-direction: grid;   */
}
.col-8{
    width: 66.6666666667%;
}
.col-4{
    width: 33.3333333333%;
}

.loginTitle{
    color: var(--light);
    font-size: 18px;
}
.form_login {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 30%; */
    /* height: 70vh; */
    flex-flow: column;
}

.form-group {
    position: relative;
    margin: 12px 0;
}

.form-group input {
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 5px;
    border: #acacac solid 2px;
    background-color: transparent;
    color: #eee;
    transition: 0.15s all ease;
}

.form-group input:focus {
    border-color: #eee;
}

.form-group input::placeholder {
    color: transparent;
}

.form-group .form-label {
    position: absolute;
    top: 9px;
    left: 0;
    font-size: 18px;
    padding: 0 10px;
    color: #acacac;
    pointer-events: none;
    transition: 0.15s all ease;
}

.form-group input:focus + .form-label,
.form-group input:not(:placeholder-shown) + .form-label {
    transform: translate(5px, -22px);
    background-color:var(--dark_blue);
    font-size: 14px;
    color: #acacac;
}

.btn_login_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.btn_login_Container a{
    background-color: #0000;
    color: var(--light_orange);
    border: 1px solid var(--light_orange);
    border-radius: var(--border_radius);
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.15s all ease;
}

.btn_login_Container a:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 2px var(--light_orange);
    -webkit-box-shadow: 0px 0px 5px 2px var(--light_orange);
    -moz-box-shadow: 0px 0px 5px 2px var(--light_orange);
}

/* COL 4 */
.col-4 p{
    color: var(--light);
    font-size: 18px;
    text-align: center;
    margin-right: 240px;
}
.logo_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-right: 240px;
    /* margin-top: 100px; */
}
.logo_container img{
    width: 300px;
    height: 300px;
    
}


.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 240px;
    margin-top: 15px;
}
.btnContainer a{
    background-color: #0000;
    color: var(--light);
    border: 1px solid var(--orange);
    border-radius: var(--border_radius);
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.15s all ease;
    cursor: pointer;
}
.btnContainer a:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 2px var(--orange);
    -webkit-box-shadow: 0px 0px 5px 2px var(--orange);
    -moz-box-shadow: 0px 0px 5px 2px var(--orange);
    
}



@media (max-width: 768px) {
    .colContainer{
        flex-direction: column;
    }
    .col-8{
        width: 100%;
    }
    .col-4{
        width: 100%;
    }
    .form_login{
        width: 100%;
    }
    .col-4 p{
        margin-top: 25px;
        margin-right: 0px;
    }
    .logo_container img{
        display: none;
    }
    .btnContainer{
        margin-right: auto;
    }
    .btnContainer button{
        margin: 10px;
        background: none;
        border: none;
        color: var(--light);
        font-size: 14px;
    }
}