:root{
    --orange: #FC7A1E;
    --light: #F2F4F3;
    --red: #AE0E0F;
    --dark_red: #510000; 
    --dark: #0F0E0E;
    --dark_blue: #001A23;
    --light_orange: #FACFAD; /*Prueba*/
    --linen: #FFF4E9; /*Prueba*/
    --light_pink: #FCEADE; /*Puede ser para dar contraste*/
    --border_radius: 5px; 
}
::-webkit-scrollbar {
    display: none;
}

body{
    background-color: var(--dark_blue);
}

.banner img{
    margin-top: 40px;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
