@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Ubuntu&family=Yantramanav&display=swap');
:root{
    --orange: #FC7A1E;
    --light: #F2F4F3;
    --red: #AE0E0F;
    --dark_red: #510000; 
    --dark: #0F0E0E;
    --dark_blue: #001A23;
    --light_orange: #FACFAD; /*Prueba*/
    --linen: #FFF4E9; /*Prueba*/
    --light_pink: #FCEADE; /*Puede ser para dar contraste*/
    --border_radius: 5px; 
}
::-webkit-scrollbar {
    display: none;
}
html{
    background-color: var(--dark_blue);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--dark_blue);
}
.noticias_title h3{
    text-align: center;
}

.team{
    display: flex;
    margin: 15px;
}
.team_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    padding-left: 10px;
    margin-top: 1px;
}
.team_container img{
    width: 250px;
    height: 250px;
    margin: auto;
}
h3{
    font-family: 'Yantramanav', sans-serif;
}
h2{
    font-family: 'Ubuntu', sans-serif;
}
p{
    font-family: 'Manrope', sans-serif;

}
.team_container h2{
    text-align: center;
    /* margin: 0; */
    padding: 5px;
}
.acomodate{
    margin-top: 15px;
}
.team_container p{
    text-align: center;
    margin: 0;
    padding: 0;
    color: var(--light);
}
.banner img{
    margin-top: 40px;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    
}
.link_a,
.login_a{
    text-decoration: none;
    color: green;
}

.link_a:hover{
    /* text-decoration: none; */
    color: white;
}
.login_a:hover{
    /* text-decoration: none; */
    color: white;
}
.btn-game{
    text-decoration: none;
    color: var(--light);
}
.container-fluid a{
    margin:10px;
}

.login_a{
    text-decoration: none;
    color: green;
}

.login_a:hover{
    color: white;
}
nav{
    background-color: var(--dark_red2);
    box-shadow: 0px 1px 3px 2px var(--orange);
    -webkit-box-shadow: 0px 1px 3px 2px var(--orange);
    -moz-box-shadow: 0px 1px 3px 2px var(--orange);
}
nav img{
    width: 40px;
    height: 40px;
    

}
.drop-service {
    position: relative; 
   }
.drop_down {
    background-color:var(--dark_red);
    padding: 1em 0;
    right: 0px;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: var(--border_radius);
    top: 40px;
    right: auto;
    border: var(--orange) 1px solid;
   }
.drop_down li + li {
    margin-top: 10px;
   }
.drop_down li {
    padding: 0.5em 1em;
    width: 9em;
    text-align: center;
   }
.drop_down li a{
    color: var(--light);
    text-shadow: none; /*Le desactivo el neon*/
    text-decoration: none;
}
.drop_down li:hover {
    background-color: var(--dark_red);
    border: var(--orange) 1px solid;
   }
.drop-service:hover .drop_down {
    display: block;

   }


   /* Search BAR */


input[type=search] {
    margin-top: auto;
    width: 160px;
    padding: 8px 20px 8px 45px;
    border:#fff solid 2px;
    font-size: 18px;
    border-radius: 25px;
    background-position: 2% 50%;
    background-repeat: no-repeat;
    background-size: 30px;
    background-image: url('search.svg');
    background-color: transparent;
    transition: 0.5s all ease-in-out;
    filter: brightness(170%);
}

input[type=search]:focus,
input[type=search]:not(:placeholder-shown) {
    width: 350px;
    background-color: #fff;
    filter: brightness(100%);
}
/* END Search BAR */