:root{
    --orange: #FC7A1E;
    --light: #F2F4F3;
    --red: #AE0E0F;
    --dark_red: #510000; 
    --dark: #0F0E0E;
    --dark_blue: #001A23;
    --light_orange: #FACFAD; /*Prueba*/
    --linen: #FFF4E9; /*Prueba*/
    --light_pink: #FCEADE; /*Puede ser para dar contraste*/
    --border_radius: 5px; 
}
::-webkit-scrollbar {
    display: none;
}

body{
    background-color: var(--dark_blue);
}

.banner img{
    margin-top: 40px;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.login_a{
    text-decoration: none;
    color: green;
}

.login_a:hover{
    color: white;
}

.drop-service {
    position: relative; 
   }
.drop_down {
    background-color:var(--dark_red);
    padding: 1em 0;
    right: 0px;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: var(--border_radius);
    top: 40px;
    border: var(--orange) 1px solid;
   }
.drop_down li + li {
    margin-top: 10px;
   }
.drop_down li {
    padding: 0.5em 1em;
    width: 9em;
    text-align: center;
   }
.drop_down li a{
    color: var(--light);
    text-shadow: none; /*Le desactivo el neon*/
}
.drop_down li:hover {
    background-color: var(--dark_red);
    border: var(--orange) 1px solid;
   }
.drop-service:hover .drop_down {
    display: block;

   }